body {
	margin: 0 auto;
	padding: 0;
  }
  
  .bg-light {
	  background: url(.../images/geometric-leaves/geometric-leaves.png?raw=true"");
		background-repeat: repeat;
  }
  
  .site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  /* Haeder/Navbar */
  .site-content {
	color: #777777;
	flex: 1;
  }
	

		
  .navigation-container {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	padding: 0;
  }
  
  .navbar {
	padding: 0;
  }
  
  .navbar-light .navbar-brand {
	color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 32px;
  font-weight: bold;
  background-color: #4aaaa5;
  }

  .navbar-light .navbar-brand:hover {
    color: #666666;

	}

	.navbar-brand {
			background-color: #ffffff;
			padding: 10px 25px;
		}
  
  .nav-item a {
	font-size: 20px;
  }
  /* end header/navbar */
	/* main */
  .card {
	border-radius: 0;
	opacity: 0.9;
  }
  
  .card-title {
	color: #4aaaa5;
	font-weight: bold;
  }

  .card-text {
	line-height: 1.5;
	font-size: 16px;
  }
  
  .floating-img {
	border: 1px solid #cccccc;
	/* allows the text to wrap around the image */
	float: left;
  }
   

/* footer */
footer {
  height: 80px;

}

#bottom {
 border-top: 6px solid #4aaaa5;
 padding: 40 px;
}
#copyright {
  color: #777777;
  text-align: center;
  background-color: #666666;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 80px;
  padding: 40px;
}
/* footter end */