/* header */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url(My_Portfolio\images\geometric-leaves\geometric-leaves.png);
    width: 960 px;
}
#top{
  border-bottom: 3px solid #cccccc;;
}
.navbar {
  padding: 0;
}
.h1 {
  background-color: #4aaaa5;
  color: #ffffff;
  font-family:'Georgia', Times, Times New Roman, serif;
  text-align: center;
  float: left;
  width: 220 px;
  height: 80 px;
  padding: 28px 18px;
  text-decoration: none;
  margin-left: 12.5%;
}

.navbar_nav {
  float: right;
  padding: 34px 10px;
  font-size: 18px;
  letter-spacing: 4 px;
}

.navbar_nav a {
  color: #777777;
  margin: 0 13px;
  padding-right: 30px;
}

/* header end */

/* main */

/* main end */

/* footer */
footer {
  height: 81
px;

}

#bottom {
 border-top: 6px solid #4aaaa5;
 padding: 40 px;
}
#copyright {
  color: #777777;
  text-align: center;
  background-color: #666666;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 80px;
  padding: 40px;
}


/* footter end */