
body {
  font-family: Arial, Helvetica, sans-serif;

  background: url("../images/geometric-leaves/geometric-leaves.png?raw=true");
  }
  
html {
  position: relative;

  min-height: 100%;
}

main {
  margin: 50px 0;
}

.main{
  background-color: #ffffff;
  padding: 40px;
  margin-bottom: 100px;
  top: 80px;
}

.main-header {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

  /* Haeder/Navbar */

  #myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px 60 px;
  }

  .navigation-container {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	padding: 0;
  }
  
  .navbar {
	padding: 0;
  }
  
  .navbar-light .navbar-brand {
	color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 30px;
  font-weight: bold;
  background-color: #4aaaa5;
  }

.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar {
  background: #ffffff;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  margin: 0 20px;
}
  /* end header/navbar */

.connect-header {
  font-size: 25px;
} 

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}

/* footer */
.footer {
  background-color: #666666;
}

.two-toned-footer-color{
  background-color: #4aaaa5;
}
/* end footer */
/* end main style for all pages */

/* about me page */
.about-me-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}

#port-image {
  width: 200px;
  margin: 0 20px 10px 0;
}

p {
  font-size: 20px;
}

.container {
  padding: 0
}
   



/* styling for portfolio page ***/
.port-image {
  margin: 20px auto;
}

.portfolio-text {
  background-color: #59AAA5;
  bottom: 90px;
  color: #eeeeee;
  padding: 15px;
  width: 100%;
  opacity: 0.9;
}

  
  .card-img-overlay:hover {
  transform: rotate(-4deg) scale(1.1, 1.1);
  }
  
  .card-img-overlay {
  display: flex;
   align-items: flex-end;
  padding: 16px;
}
  /* end of styling for portfolio page */
  /* styling for contact.html */
  
  .form-control {
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
  }
  
  .submit-btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
    background-color: #4aaaa5;
    border: 0;
  }
  
  .submit-btn:hover {
    opacity: .7;
  }
  /* end of styling for contact */

/* media break points */
@media screen and (max-width: 640px) {
  .site {
    /* Box-model */
    width: 100%;
    padding: 20px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .site {
    /* Box-model */
    width: 100%;
    padding: 20px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 980px) {
  .site {
    /* Box-model */
    width: 100%;
    padding: 20px;
    margin-top: 40px;
  }
}
